@charset "utf-8";

body{
  background-color: aquamarine;
}
button{
  width: 100px;
  height: 100px;
}
button:nth-child(1){
  background-image: url(https://chloe0122.github.io/arduino/on.jpg);
  background-size: cover;
}
button:nth-child(2){
  background-image: url(https://chloe0122.github.io/arduino/off.jpg);
  background-size: cover;
}