@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background: #ccc;
}
.head{
    text-align: center;
    margin: 50px 20px;
}
.gnb{
    background: #222;
}
.gnb.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.gnb a{
    display: inline-block;
    background: rgb(105, 156, 28);
    color: #fff;
    text-decoration: none;
    padding: 20px;
}
.content{
    height: 2000px;
    padding: 20px;
}
.topBtn{
    display: none;
    background: red;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 20px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

}